.skills__line{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.skills__title{
    font-weight: bold;
    display: flex;
    margin-top: 2rem;
    margin-left: 1rem;
}

.skills__box{
    width: 200px;
    height: 180px;
    background-color: var(--gray-dark-color);
    color: var(--gray-light-color);
}

.skills__box:hover{
    padding: 1.5rem;
    cursor: pointer;
    transition: .3s;
}


.skills__box ul{
    width: 90px;
    height: 90px;
}

.skills__img{
    width: 90px;
    height: 90px;
}

.skills__name{
    width: 90px;
    height: 20px;
}