.insignias__title{
    color: var(--color-de-fondo);
    margin-bottom: 1rem;
}

.insignias__box{
    background-color: var(--white-color);
}

.insignias__name{
    text-align: justify;
}
@media screen and (min-width: 920px){
    .insignias__line{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}