.insignias__title{
    color: var(--color-de-fondo);
    margin-bottom: 1rem;
}

.insignias__box{
    background-color: var(--gray-dark-color);
    color: var(--gray-light-color);
}

.insignias__box > ul{
    padding-right: 2.5rem;
}

.insignias__name{
    text-align: center;
}
@media screen and (min-width: 920px){
    .insignias__line{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .insignias__box{
        width: 25rem;
        height: 25rem;
    }
}